In [14]:
import json

def formatid(cid):
    return cid[:2]+'-'+cid[2:5]+'-'+cid[5:]

def filterid(courses, typecode=None):
    typecode = [k for k in range(1, 6)] if typecode is None else typecode
    typecode = [typecode] if type(typecode) == int else typecode
    filtered_courses = []
    ids = list(courses.keys())
    for i in ids:
        if courses[i]['type'] in typecode:
            filtered_courses.append(i)
    return filtered_courses
    
def export(courses, ids=None, mode='short', save=None):
    ids = list(courses.keys()) if ids is None else ids
    text = ''
    match mode:
        case 'short':
            text = r'\begin{longtable}{p{0.15\textwidth}p{0.6\textwidth}r{0.15\textwidth}}' + '\n'
            for i in ids:
                title_th = courses[i]['title_th']
                title_en = courses[i]['title_en']
                credits = courses[i]['credits']
                lecture = courses[i]['lecture_hr']
                lab = courses[i]['lab_hr']
                text += f'{formatid(i)} & {title_th} & {credits}({lecture}-{lab})' + r'\\' + '\n'
                text += f'& {title_en} & ' + r'\\[3mm]' + '\n'
            text += r'\end{longtable}' + '\n'
        case 'description':
            text = r'\begin{longtable}{p{0.15\textwidth}p{0.6\textwidth}r{0.15\textwidth}}' + '\n'
            for i in ids:
                title_th = courses[i]['title_th']
                title_en = courses[i]['title_en']
                credits = courses[i]['credits']
                lecture = courses[i]['lecture_hr']
                lab = courses[i]['lab_hr']
                description_th = courses[i]['description_th']
                description_en = courses[i]['description_en']
                text += f'{formatid(i)} & {title_th} & {credits}({lecture}-{lab})' + r'\\*' + '\n'
                text += f' & {title_en} & ' + r'\phantom{x} \vspace{3mm} \\*' + '\n'
                text += r'&  \multicolumn{2}{p{0.75\textwidth}}{' + description_th  + r'} \vspace{3mm} \\*' + '\n'
                text += r'&  \multicolumn{2}{p{0.75\textwidth}}{' + description_en  + r'} \vspace{8mm} \\*' + '\n'
            text += r'\end{longtable}' + '\n' 
        case 'los_mapping':
            with open('table_tqf_header.tex', 'r') as file:
                text = file.read()
            for i in ids:
                title_th = courses[i]['title_th']
                los = courses[i]['los_mapping']
                text += f'{formatid(i)} & {title_th} '
                for k in range(10):
                    text += r'& \ding{108}' if k+1 in los else r'& '
                text += r'\\ \hline' + '\n' 
            text += r'\end{longtable}' + '\n'     
        case 'plos_mapping':
            with open('table_plos_header.tex', 'r') as file:
                text = file.read()
            for i in ids:
                title_th = courses[i]['title_th']
                plos = courses[i]['plos_mapping']
                text += f'{formatid(i)} & {title_th} '
                for k in range(10):
                    text += r'& \ding{108}' if k+1 in plos else r'& '
                text += r'\\ \hline' + '\n' 
            text += r'\end{longtable}' + '\n'
        case _:
            pass
    if save:
        with open(save, 'w') as file:
            file.write(text)
        print(f'Save results at {save} successfully')
    return text

In [15]:
with open('courses.json') as file:
    text = json.load(file)
courses = text['courses']

In [16]:
ids = filterid(courses, typecode=0)
export(courses, ids, mode='short', save='outputs/nocredit.tex')

Save results at outputs/nocredit.tex successfully

'\\begin{longtable}{p{0.15\\textwidth}p{0.6\\textwidth}r{0.15\\textwidth}}\n09-110-601 & การนำเข้าข้อมูลสู่รูปแบบดิจิทัล & 3(2-2)\\\\\n& Data Digitalization & \\\\[3mm]\n09-110-602 & สัมมนา & 1(0-0)\\\\\n& Seminar & \\\\[3mm]\n\\end{longtable}\n'

In [17]:
ids = filterid(courses, typecode=1)
export(courses, ids, mode='short', save='outputs/common.tex');

Save results at outputs/common.tex successfully

In [18]:
ids = filterid(courses, typecode=2)
export(courses, ids, mode='short', save='outputs/selective-ma.tex');

Save results at outputs/selective-ma.tex successfully

In [19]:
ids = filterid(courses, typecode=3)
export(courses, ids, mode='short', save='outputs/selective-am.tex');

Save results at outputs/selective-am.tex successfully

In [20]:
ids = filterid(courses, typecode=4)
export(courses, ids, mode='short', save='outputs/selective-ml.tex');

Save results at outputs/selective-ml.tex successfully

In [21]:
ids = filterid(courses, typecode=5)
export(courses, ids, mode='short', save='outputs/is.tex');

ids = filterid(courses, typecode=6)
export(courses, ids, mode='short', save='outputs/theses.tex');

Save results at outputs/is.tex successfully
Save results at outputs/theses.tex successfully

In [22]:
export(courses, mode='description', save='outputs/description.tex');

Save results at outputs/description.tex successfully

In [23]:
export(courses, mode='los_mapping', save='outputs/losmapping.tex');

Save results at outputs/losmapping.tex successfully

In [24]:
export(courses, mode='plos_mapping', save='outputs/plosmapping.tex');

Save results at outputs/plosmapping.tex successfully